{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href= {% static 'style.css' %}>
    <script src= {% static 'script.js' %}></script>
    <title>Hello, world!</title>
  </head>
  <body>
      {% if user.is_authenticated %}
      <div class="header">
        <br>
        <h5>Latest Anouncement:</h5>
        <marquee>
          <p>Admission open now please register your seat</p>
        </marquee>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">APJTechnospark</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              you are logged in as {{request.user}}
            </li>
          </ul>
          <form  class="form-inline my-2 my-lg-0">
            <button class="btn btn-dark my-2 my-sm-0"  type="submit"><a href='/logout1'>logOut</a></button>
          </form>
        </div>
      </nav>
      <br><br>
     
      <form method = 'POST'>
        {% csrf_token %}
      <div class="container" >
        <div class="col">
        <div class="custom-file mb-3">
        <label class="custom-file-label" for="customFile">Choose Passs port size Photo</label>
        <input type="file" class="custom-file-input" id="customFile" name="photo">
        <label for="name">full name</label>
        <input type="text" class="form-control" name="full_name"><br>
        <label for="name">fathare's name</label>
        <input type="text" class="form-control" name="fathare_name"><br>
        <label for="email">Email</label><br>
        <input type="email" class="form-control" name="email" id="email" placeholder="email" required><br>
        <label for="Phone_Number">Phone_Number</label>
        <input type="text" class="form-control" name="Phone_Number"><br>
        <label for="Number">Adhar numbe</label>
        <input type="text" class="form-control" name="adhar_number"><br>
        <label for="Address">Address</label>
        <textarea type="gender" class="form-control" name="Address"></textarea><br>
        <label for="date">Date</label>
        <input type="date" class="form" name="date"><br>
        <label for="gender">gender</label>
        <input type="gender" class="form" name="gender"><br>
        <label for="age">age</label>
        <input type="gender" class="form" name="age"><br>
        <button class='btn btn-primary'   type="submit">submit</button>
        </form> <br>
      </div>
    </div>
  </div><br><br>
      {% else %}
      log in first..............
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>